{% extends 'web_format.jinja' %}
{% set active_page = "dashboard" %}

{% block content %}
<br>
<h3>{% block title %} Dashboard {% endblock %}</h3>

<div class="container-fluid">
      <div style="height: 100px; width: 800px">
      <div class="row d-flex">
        <button type="button" style="width: 150px;" class="btn btn-dark mx-auto">Critical</button>
        <button type="button" style="width: 150px;" class="btn btn-danger mx-auto">High</button>
        <button type="button" style="width: 150px;" class="btn btn-warning mx-auto">Medium</button>
        <button type="button" style="width: 150px;" class="btn btn-success mx-auto">Low</button>
        <button type="button" style="width: 150px; " class="btn btn-info mx-auto">Info</button>
      </div>
      </div>
    <div class="row" style="height: 400px; width: 400px">
      <p class="center"><h1>Graph 1</h1></p>
    </div>
    <div class="row">
      <div class="column">
              <canvas id="myChart" style="height: 400px; width: 400px; padding-right: 20px"></canvas>
      </div>
      <div class="column">
          <p class="center"><h1>Graph 3</h1></p>
      </div>
    </div>
</div>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["2.0-low", "3.0-medium", "4.0-high"],
        datasets: [{
            data: [{{ low_count }},{{ medium_count }}, {{ high_count }}],
            label: "Total",
            borderColor: "rgb(62,149,205)",
            backgroundColor: "rgb(62,149,205,0.1)",
            borderWidth:2
          }
        ]
      },
    });
</script>

{% endblock %}
<!DOCTYPE html>